In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
repeated_list=[2]*4
print(repeated_list)

[2, 2, 2, 2]

* operator use as multiplication in values (integer, floats)
           use to replicates the elements of the sequence

In [21]:
n=9
for i in range(1,11):
    print("{}^{}=".format(n,i),n**i)

9^1= 9
9^2= 81
9^3= 729
9^4= 6561
9^5= 59049
9^6= 531441
9^7= 4782969
9^8= 43046721
9^9= 387420489
9^10= 3486784401

** operator raises the number on the left to the power of the exponent of the right

In [17]:
color=['white','red','blue','green','blue','yellow','black']
# color.pop('yellow')
# color.pop('5') str cannot be interpreted as an integer
# color.pop(5)
color.remove(5)

ValueError: list.remove(x): x not in list

In [18]:
car={"brand":"Audi","model":"Q2","year":1980}
car["year"]=2019

1. Braces{} used to define sets(unordered collection of unique elements) and dictionaries
2. Parentheses() are used for several purpose or sequences (group, function,tuples<immutabel sequences of elements>)
3. Brackets[] used for lists and accessing elements from sequences

In [20]:
a=-99
if a>0:
    print("Number is Positive)
else:
    print("Number is negative")

SyntaxError: unterminated string literal (detected at line 3) (3643490889.py, line 3)

In [23]:
a=b=TRUE 
# if types "True" it will work 
if (a==b):
    print("Hello")
else:
    print("Well done")

NameError: name 'TRUE' is not defined

In [24]:
print(range(5))
# generate a sequence of numbers equidistant

range(0, 5)

In [25]:
x=[1,2,3,4,5]
while x:
    print(x.pop(0))

1
2
3
4
5

pop() function for list: removes and returns the last element
               for dictionary: remove and return the specified key and associated values

In [26]:
import numpy as np

In [27]:
sports=['Cricket','Football','Tennis','Golf','Baseball']
sports_new=np.array(sports)
print(sports_new)

['Cricket' 'Football' 'Tennis' 'Golf' 'Baseball']

In [28]:
import numpy as np
vec1=np.array([4,7,8,9,10,6,1])
vec1[vec1>6]=2 #boolean index
print(vec1)

[4 2 2 2 2 6 1]

In [30]:
matrix=np.array([[1,2,3],[4,5,6],[7,8,9]])
print(matrix[1][1]) #call out the oneth element in the oneth row

5

In [46]:
array1=np.array([[1,2,3],[4,5,6],[7,8,9]])
array2=array1 #create reference to the array1. Then change array2 will also affect array1
array2=np.copy(array1) #or array2=array1.copy()
#Now modifying array2 won't affect array1

In [62]:
calorie_data=pd.DataFrame({'day':['day1','day2','day3','day4','day5'],'calories':[450,300,345,520,600],'duration_min':[30,25,29,39,48]})
# calorie_data[2:]
# calorie_data[:-2]
calorie_data[:2]

    day  calories  duration_min
0  day1       450            30
1  day2       300            25

In [59]:
days=pd.Series([420,380,390],index=['day1','day2','day3'])
days[:2]
days[:'day3']

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
calorie_data.loc[[1,2],['calories']]
calorie_data.iloc[[1,2],[1]]
calorie_data=pd.DataFrame({'day':['day1','day2','day3','day4','day5'],'calories':[450,300,345,520,600],'duration_min':[30,25,29,39,48]})